body { 
    background-color: rgb(34, 29, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 20px;
    font-family: 'Lora', sans-serif;
}
h1 {
    font-style: italic;
}
#container {
    display: flex;
    height: 350px;
    width: 100%;
    justify-content: space-between;
}
#input-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#materials-pricing-field {
    display: flex;
    flex-direction: column;
    height: 10%;
}
input {
    width: 100px;
}
#cost-breakdown {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
}